<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <form class="form-inline my-2 my-lg-0 justify-content-end">
                    <a class="nav-link " href="#">User account</a>
                    <a class="nav-link" href="#">Shopping cart</a>
<!--                    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->

                </form>
            </div>
        </div>
    </div>
</nav>