
<p>{{title}}</p>
<div>
    <form>
        <div class="card" style="width: 18rem;">
            <img src="https://i1-giaitri.vnecdn.net/2015/04/13/Jason-Statham-buffed-Body-3549-1428911719.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=p_E_zXTquxdNPsegYrIlqg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <span>$12</span>
                <a href="#" class="btn btn-primary float-right">Go somewhere</a>
            </div>
        </div>
    </form>
</div>

